.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1em;
  width: 100%
}

.aside {
flex: 1 0;
order: 2;
}

.main {
flex: 5 0;
order: 1;
}